:root
{
    --color-normal:   #FFFFFF;
    --color-string:   #A9B7C4;
    --color-comment:  #0BB123;
    --color-type:     #0BB1B0;
    --color-keyword:  #1683b9;
    --color-error:    #E41300;
    --color-base:     #263238;
    --color-contrast: #1F262A;

    --spacing-normal: 15px;
    --spacing-header: 45px;

    --width-content:     870px;
    --width-border:      5px;
    --width-border-thin: 2px;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

nav
{
    background-color: var(--color-base);
    width: auto;

    padding-top:    var(--spacing-normal);
    padding-bottom: var(--spacing-normal);
}

nav ul
{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-normal);
    padding-right: var(--spacing-normal);
    max-width: calc(var(--width-content) - var(--spacing-normal) * 2);
    list-style: none;
}

nav ul li
{
    display: inline;
    margin-right: var(--spacing-normal);
}

nav a
{
    display: inline;
    color: var(--color-normal);
    font-size: 20px;
    vertical-align: middle;
}

body
{
    background-color: var(--color-contrast);
    font: var(--spacing-normal)/1.2 Consolas,"Courier New",Courier,monospace;
    color: var(--color-normal);
}

main
{
    max-width: var(--width-content);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--spacing-normal);
}

section
{
    margin-left: var(--spacing-normal);
    margin-right: var(--spacing-normal);
}

table
{
    margin-top: var(--spacing-normal);
    width: 100%;
    border-collapse: collapse;
}

tr
{
    border-bottom: var(--width-border-thin) solid var(--color-base);
}

th
{
    padding: var(--spacing-normal);
    text-align: left;
    border-bottom: var(--width-border) solid var(--color-base);
    font-weight: bold;
}

td
{
    padding: var(--width-border) var(--spacing-normal);
}

blockquote
{
    font-style: normal;
    margin-top: var(--spacing-normal);
    border-left: var(--width-border) solid var(--color-base);
    padding-right: var(--spacing-normal);
    padding-left: var(--spacing-normal);
}

blockquote footer
{
    margin-top: var(--spacing-normal);
}

blockquote footer::before
{
    content: "— ";
}

::selection      { background: var(--color-keyword); }
::-moz-selection { background: var(--color-keyword); }

p, time, pre, footer
{
    margin-top: var(--spacing-normal);
}

h1, h2, h3, h4, h5, h6
{
    margin-top: var(--spacing-header);
    font-weight: bold;
    font-size: 20px;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6
{
    margin-top: var(--spacing-normal);
}

header h1
{
    font-size: var(--spacing-header);
    margin-top: var(--spacing-normal);
}

a
{
    color: #4785ee;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

i, cite { font-style: italic; }
b       { font-weight: bold; }

pre
{
    overflow-x: auto;
    background-color: var(--color-base);
    page-break-inside: avoid;
    max-width: 100%;
    overflow: auto;
    padding: var(--spacing-normal);
    display: block;
    word-wrap: break-word;
}

pre code
{
    width: 100%;
}

span.keyword { color: var(--color-keyword); }
span.string  { color: var(--color-string);  }
span.comment { color: var(--color-comment); }
span.type    { color: var(--color-type);    }

span.rule
{
    font-weight: bold;
}

ul, ul ul
{
    list-style-type: disc;
}

ol, ul
{
    padding-inline-start: 2em;
    padding-inline-end:   2em;
}

ol
{
    padding-inline-start: 2.5em;
}

li
{
    margin-top: var(--spacing-normal);
}
